<p-panel header="Pipes Básicos" class="p-1">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente</p>
</p-panel>

<div class="grid mt-2">
    <div class="col-12 md:col-4">
        <p-card header="Ventas Netas">
            {{totalSells | number: '1.2-2'}}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="Ventas Brutas">
            {{totalSells | currency:'USD':''}}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="Ganancia">
            {{percent | percent:'1.2-2'}}
        </p-card>
    </div>
</div>