<p-panel header="Pipes Básicos" class="p-1">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente</p>
</p-panel>

<div class="grid mt-2">
    <div class="col-4">
        <p-card header="uppercase">
            {{nameLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">

        <p-card header="lowercase">
            {{nameUpper | lowercase}}

        </p-card>
    </div>
    <div class="col-4">

        <p-card header="titleCase">
            {{fullName | titlecase}}
        </p-card>
    </div>
</div>